*{
	margin: 0;
	padding: 0;

}
body{
	font-family: Raleway, sans-serif;
	font-size: 14px;
	font-weight: 400;
	color: #777;

}


.navbar{
	position: relative;
	z-index: 1;
	


}
.navbar-brand{
	font-size: 32px; 
}
.jumbotron{
	background-image: url(../img/jumbotron-bg.jpg);
	background-size: cover;
	text-align: center;
	height: 540px;
	position: relative;
}
.jumbotron .container{
	z-index: 1;
	position: relative;

}
.jumbotron:after{
	content: "";
	display: block;
	width: 100%;
	height: 80%;
	background-image: linear-gradient(0deg, #000, transparent);
	position: absolute;
	bottom: 0;
	
}
.jumbotron .display-4{
	margin-top: 150px;
	font-weight: 500;
	font-size: 40px;
}
.jumbotron .container, .lead{
	color: #fff;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.7);
}
.lead{
	margin-top: 10px;
	font-weight: 550;
	font-size: 30px;
	margin-bottom: 30px;
}
#c1{
	color: grey;
}
.info-panel {
	box-shadow: 0 3px 20px rgba(0,0,0,0.5);
	border-radius: 12px;
	margin-top:100px;
	background-color: #fff;
	padding: 15px; 
}
.info-panel img{
	width: 80px;
	height: 80px;
	margin-right: 20px;
	margin-bottom: 20px;
}
.info-panel h4{
	font-size: 16px;
	text-transform: uppercase;
	margin-top: 5px;

}
.info-panel p{
	font-size: 14px;
	color: #acacac;
	margin-top: -5px;
	font-weight: 200;

}
.btn-round{
	text-transform: uppercase;
	border-radius: 40px;

}
@media (min-width: 992px){
	.nav-link, .navbar-brand{
		color:#fff!important;
		text-shadow: 1px 1px 1px rgba(0,0,0,0.7);

	}
	.nav-link{
		text-transform: uppercase;
		margin-right: 30px;

	}
	.nav-link:hover:after{
		display: block;
		border-bottom: 2px solid #00f;
		width: 50%;
		padding-bottom: 5px;
		margin: auto auto -8px;
	}
	.jumbotron{
		margin-top: -167px;
		height: 640px;

	}
	.jumbotron .display-4{
		font-size: 62px;
	}
}
#service{
	margin-top: 100px;
}
.boxmen h2{
	color:#333;
	font-weight: 700;
	text-transform: uppercase;
	font-family: Maiandra GD;

}
.boxmen h2, .boxmen h5, .boxmen p{
	text-align: center;
}
.boxmen h5{
	width: 72%;
	margin: auto;
	color: #777;
	font-size: 21px;
}
.boxmen h5, .service-1 p{
	font-family: calibri Light;

}
.service-1 p{
	font-size: 16px;
	color: #333;
	padding: 15px 13px;

}
.change_1{
	transition: all .3s ease 1s;
	border-radius: 3px;
	background: #fcfcfc;
	cursor: pointer;
	border-bottom: 1px solid #ddd;
	margin-top: 24px;
}
.change_1, .change_1:hover{
	width: 100%;
	height: 200px;
	box-shadow: 0 5px 10px 0 rgba(148,146,245, .15);

}
.change_1:hover{
	border-bottom: 2px solid #0dc972;
	border-left: 1px solid #0dc972;
	transition: all .3s ease 0s;
	background: #fff;

}
.change_content-1 h2{
	font-size: 20px;
	text-transform: uppercase;
	font-weight: 700;
	font-family: Maiandra GD;
	color: #575757;

}
.change_content-1 p{
	font-family: Calibria Light;
	font-size: 17px;
}
.icon_1 img{
	width: 100%;
	float:right;
	margin-top: 10px;
}
.card{
	/*box-shadow: 4px 7px 17px -3px red;*/
}
.card:hover{
	box-shadow: 4px 7px 17px -3px red;
	transform: translateY(-20px);
	transition: .4s;


}
.aboutme{
	margin-top: 50px;
    text-align: center;
    /*background-color: #F1F1F1;*/
}
.card-title:hover{
	color: #00FF96;
}
.card-img-top{
	/*border-radius: 400px;*/
	border-radius: 500px 500px 500px 500px;


}
.card .card-body ul{
	margin: 0;
	padding: 0;
	display: inline-block;
}
.card .card-body ul li{
	list-style: none;
	float: left;
}
.card .card-body ul li a{
	display: block;
	color:#aaa;
	margin: 0 10px;
	font-size: 20px; 
	transition: .5s;
	text-align: center;
}
.card .card-body ul li:hover a
{
	color: #FF1AF2;
	transform: rotateY(360deg);
}



.footer{
	background-color: #000;
	margin: 50px -375px 100px -59px;
	color: #fff;
	padding: 20px 0 20px 30px;
	font-size: 20px;
}

.footer ul{
	padding: 0px 463px 3px 4px;
	text-align: center;
	display: inline-block;

}
.footer ul li {
	list-style: none;
	float: left;
	    margin: 4px 5px 5px 9px;


}
.footer ul li:hover a
{
	color: #00F6FF;
	transform: rotateY(360deg);
}
.footer ul li a{
	display: block;
	color:#aaa;
	margin: 0 10px;
	font-size: 20px; 
	transition: .5s;
	text-align: center;
	margin-top: 10px;
	margin-bottom: 0px;
	

}
.left-footer{
	    padding: 3px 0px 0 147px;
}
